<div class="compare" data-compare>
  <img class="compare-before-img" src="/images/compare-before.svg" alt="Analytics before Contomatix: declining clicks and rankings" width="1100" height="520" draggable="false">
  <div class="compare-after">
    <img src="/images/compare-after.svg" alt="Analytics with Contomatix: clicks up 247%, average position in the top 3" width="1100" height="520" draggable="false">
  </div>
  <div class="compare-handle" aria-hidden="true">
    <span class="compare-line"></span>
    <span class="compare-knob">&#x2039;&#x203A;</span>
  </div>
  <span class="compare-tag compare-tag-l">Before</span>
  <span class="compare-tag compare-tag-r">After</span>
</div>
